# Ignore Python bytecode
*.pyc
__pycache__/
.pytest_cache/

# Local tooling
.superpowers/
.idea/
.venv-cpu/

# Symlink to the image's segmentator build, created by docker/entrypoint.sh
segmentator/csrc/build
